In [2]:
import requests
import pandas as pd

url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.10844/dados?formato=json'

resposta = requests.get(url).json()
df = pd.DataFrame(resposta)
df

           data  valor
0    01/01/1992  25.84
1    01/02/1992  22.17
2    01/03/1992  20.74
3    01/04/1992  20.14
4    01/05/1992  26.93
..          ...    ...
338  01/03/2020  -0.14
339  01/04/2020   0.25
340  01/05/2020  -0.45
341  01/06/2020  -0.26
342  01/07/2020  -0.10

[343 rows x 2 columns]